test_data_voice/* filter=lfs diff=lfs merge=lfs -text
test_data_voice/** filter=lfs diff=lfs merge=lfs -text
assets/** filter=lfs diff=lfs merge=lfs -text
test_data_voice/s2.wav filter=lfs diff=lfs merge=lfs -text
test_data_voice/s2.wav filter=lfs diff=lfs merge=lfs -text
